/*--------------------------------------------------------------
# Init
--------------------------------------------------------------*/
/* Coolors Exported Palette - coolors.co/f06449-ede6e3-dadad9-36382e-5bc3eb */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i,800,800i|Merriweather+Sans:300,400,700,800");
body {
  background-color: #FFFFFF;
  color: #36382e;
  font-family: "Merriweather Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

#siteheader {
  color: #1674c1;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(none));
  background: linear-gradient(none);
  border-bottom: 1px #e4e4e4 solid;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
  #siteheader.front-page.hit-top {
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    padding: 20px 0;
    border-bottom: 0;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent; }
    #siteheader.front-page.hit-top .logo-container,
    #siteheader.front-page.hit-top .inquire-button-container {
      margin: 0; }
    #siteheader.front-page.hit-top .logo-container img.secondary-color {
      opacity: 1; }
    #siteheader.front-page.hit-top .logo-container img.main-color {
      opacity: 0; }
  #siteheader .logo-container,
  #siteheader .inquire-button-container {
    margin: 7px 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  #siteheader .logo-container {
    position: relative; }
    #siteheader .logo-container img.logo {
      max-height: 48px;
      margin-top: 8px;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    #siteheader .logo-container img.main-color {
      display: inline-block; }
    #siteheader .logo-container img.secondary-color {
      position: absolute;
      top: 0;
      z-index: 2;
      opacity: 0; }
  #siteheader.front-page.hit-top .inquire-button-container .btn.cta {
    background-color: rgba(240, 100, 73, 0); }
    #siteheader.front-page.hit-top .inquire-button-container .btn.cta:hover {
      background-color: #f06449; }
  #siteheader .inquire-button-container .btn.cta {
    padding: 12px 23px;
    border-radius: 21.6px;
    border: 2px solid #FFFFFF;
    background-color: #f06449;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 0.1em;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10.4px; }
    #siteheader .inquire-button-container .btn.cta:hover {
      background-color: #f48c78; }

#menu-header-menu,
ul#menu-header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0 30px 0 50px;
  z-index: 1000;
  text-align: right; }
  #menu-header-menu > li.menu-item,
  ul#menu-header-menu > li.menu-item {
    display: inline-block;
    position: relative; }
    #menu-header-menu > li.menu-item.menu-item-has-children > a::after,
    ul#menu-header-menu > li.menu-item.menu-item-has-children > a::after {
      content: '\f0d7';
      font-family: FontAwesome;
      line-height: 64px;
      display: inline;
      margin-left: 8px; }
    #menu-header-menu > li.menu-item > a,
    ul#menu-header-menu > li.menu-item > a {
      display: block;
      color: #1674c1;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 400;
      letter-spacing: 0.15em;
      line-height: 64px;
      height: 64px;
      padding: 7px 10px;
      position: relative;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      .front-page.hit-top #menu-header-menu > li.menu-item > a::before, .front-page.hit-top
      ul#menu-header-menu > li.menu-item > a::before {
        background-color: rgba(255, 255, 255, 0.6); }
      .front-page.hit-top #menu-header-menu > li.menu-item > a, .front-page.hit-top
      ul#menu-header-menu > li.menu-item > a {
        padding: 0 10px;
        color: #FFFFFF; }
    #menu-header-menu > li.menu-item > a::before,
    ul#menu-header-menu > li.menu-item > a::before {
      position: absolute;
      content: '';
      height: 4px;
      width: 30%;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #1674c1;
      margin-bottom: 20px;
      opacity: 0; }
    #menu-header-menu > li.menu-item:hover > a::before,
    ul#menu-header-menu > li.menu-item:hover > a::before {
      margin-bottom: 0;
      opacity: 1;
      width: 100%; }
    #menu-header-menu > li.menu-item:hover > ul.sub-menu,
    ul#menu-header-menu > li.menu-item:hover > ul.sub-menu {
      display: block; }
    #menu-header-menu > li.menu-item ul.sub-menu,
    ul#menu-header-menu > li.menu-item ul.sub-menu {
      text-align-last: left;
      margin: 0;
      list-style-type: none;
      -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.7);
              box-shadow: 0 5px 35px rgba(0, 0, 0, 0.7); }
    #menu-header-menu > li.menu-item > ul.sub-menu,
    ul#menu-header-menu > li.menu-item > ul.sub-menu {
      display: none;
      top: 100%;
      position: absolute;
      background-color: white; }
      #menu-header-menu > li.menu-item > ul.sub-menu::before,
      ul#menu-header-menu > li.menu-item > ul.sub-menu::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent white transparent; }
      #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item,
      ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item {
        white-space: nowrap;
        position: relative; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item a,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item a {
          color: #686868;
          padding: 13px 40px 13px 25px;
          display: block;
          position: relative;
          font-size: 0.85em; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item:hover > a,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item:hover > a {
          background-color: #dadad9; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children > a::after,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children > a::after {
          content: '\f0da';
          font-family: FontAwesome;
          display: block;
          margin-right: 15px;
          position: absolute;
          right: 0;
          top: 0;
          padding: 10px 0; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children:hover::after,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children:hover::after {
          content: '';
          position: absolute;
          left: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent #dadad9; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children:hover > ul.sub-menu,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item.menu-item-has-children:hover > ul.sub-menu {
          display: block; }
        #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu,
        ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu {
          position: absolute;
          z-index: -2;
          left: 100%;
          top: 0;
          background-color: #dadad9;
          display: none; }
          #menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu a:hover,
          ul#menu-header-menu > li.menu-item > ul.sub-menu > li.menu-item > ul.sub-menu a:hover {
            color: #FFFFFF;
            background-color: #a8a8a5; }
