/*--------------------------------------------------------------
# Init
--------------------------------------------------------------*/

// imports
@import "colors/colors1";
@import "font-variables";
@import "variables";
@import "settings";
// @import "mixins/breakpoint";

// VARIABLES
// =================
// $primary: rgba(91, 195, 235, 1);
// $secondary: rgba(240, 100, 73, 1);
// $purewhite: #FFFFFF;
// $white: rgba(237, 230, 227, 1);
// $lightgray: rgba(218, 218, 217, 1);
// $black: rgba(54, 56, 46, 1);
// $linkcolor: rgb(64, 135, 163);

// VARIABLES
// =================




// Test Section

.test-section {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 700px;
}

.test-text {
    padding: 50px 0;
    line-height: 2em;
}

// Featured Slider

#featured-properties-slider {
    position: relative;

    .featured-arrows {
        position: absolute;
        z-index: 10;
        outline: none;
        border: none;
        background: none;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4em;
        color: #FFFFFF;
        cursor: pointer;
        opacity: 0.45;
        @include breakpoint(medium down) {
            display: none !important;
        }

        &:hover {
            opacity: 1;
        }

        &.next-btn {
            right: 20px;
        }

        &.prev-btn {
            left: 20px;
        }
    }

    .featured-item.property {
        height: 100vh;
        min-height: 620px;
        background-size: cover;
        background-position: center center;
        // background-attachment: fixed;
        position: relative;

        .overlay {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &.right .contents {
            text-align: right;
            .sizer {
                margin: 0 0 0 auto;
            }
        }

        &.center .contents {
            text-align: center;
            .sizer {
                margin: 0 auto;
            }
        }
        
        .contents {
            position: absolute;
            z-index: 3;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 0 150px;
            color: $purewhite;
            text-shadow: 0 3px 5px rgba(#000, 0.7);
            font-size: 0.9em;
            text-align: left;
            @include breakpoint(medium only) {
                padding: 0 40px 100px;
            }
            @include breakpoint(small only) {
                padding: 0 15px 100px;
            }
            

            .sizer {
                width: 66.6%;
                @include breakpoint(medium only) {
                    width: 80%;
                }
                @include breakpoint(small only) {
                    width: 90%;
                }
            }

            h1.headline {
                font-family: $my-serif;
                font-weight: 200;
                font-size: 5em;
                line-height: 1.2em;
                margin: 0 0 10px;
                visibility: hidden;
                @include breakpoint(small only) {
                    font-size: 4em;
                }
            }

            h2.subtext {
                font-size: 1.6em;
                font-weight: 800;
                margin: 0 0 30px;
                visibility: hidden;
            }

            .custom-content {
                font-size: 1.1em; 
                padding: 0 0 15px;
                visibility: hidden;
            }

            .btn {
                visibility: hidden;
            }
        }
    }
}


// Intro

.intro {
    // background-color: $white;
    color: rgb(100, 100, 100);
    padding: 70px 0;
    text-align: center;
    font-family: my-serif;

    h1.intro-title {
        text-transform: uppercase;
        font-size: 2.8em;
        font-family: my-serif;
        letter-spacing: 0.08em;
        margin: 0 0 30px;

        &::first-letter {
            font-size: 1.3em;
        }

        &::before {
            display: block;
            width: 66.6%;
            max-width: 500px;
            content: '';
            height: 2px;
            background-color: rgb(100, 100, 100);
            margin: 20px auto 20px;
        }
    }
    p {
        font-size: 1.3em;
        line-height: 2em;
    }
}


// Genesis

.genesis {
    background-color: $lightgray;
    background: linear-gradient(to top, $lightgray, lighten($lightgray, 7%));
    position: relative;
    z-index: 100;
    @include breakpoint(medium down) {
        overflow-x: hidden;
    }

    .wrapper-medium {
        position: relative;
        z-index: 10;
    }

    .text-contents {
        justify-content: center;
        align-self: center;
        color: $font;
        font-family: $my-serif;
        padding-right: 15px;

        .section-title {
            font-family: $my-serif;
            font-size: 4em;
            color: $font;
            line-height: 1.1em;
            @include breakpoint(medium only) {
                font-size: 2.5em;
            }
            @include breakpoint(small only) {
                font-size: 2.1em;
            }
        }

        p {
            font-family: $my-sans-serif;
            line-height: 2em;
            font-weight: 200;
            font-size: 1.1em;
            @include breakpoint(medium only) {
                font-size: 1em;
                line-height: 2em;
            }
            @include breakpoint(small only) {
                font-size: 0.9em;
                line-height: 1.5em;
            }
        }
    }

    .photo-container {

        img {
            max-height: 480px;
            display: block;
            margin-top: -80px;
            @include breakpoint(medium down) {
                margin-top: 20px;
            }
            @include breakpoint(medium only) {
                max-height: 400px;
            }
            @include breakpoint(small only) {
                max-height: 320px;
            }
        }
    }

    .animated-box {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .animated-element {
            height: 900px;
            width: 900px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            background-color: $purewhite;
            opacity: 0.4;
            transform: rotate(45deg);
        }
    }
}

.fp-content {
    font-family: $my-serif;
    color: $font;

    h1, h2, h3, h4, h5, h6 {
        font-family: $my-serif;
        color: $font;
    }
}