/*--------------------------------------------------------------
# Init
--------------------------------------------------------------*/

// imports
@import "colors/colors1";
@import "font-variables";
@import "variables";
@import "settings";
// @import "mixins/breakpoint";

// VARIABLES
// =================
// $primary: rgba(91, 195, 235, 1);
// $secondary: rgba(240, 100, 73, 1);
// $purewhite: #FFFFFF;
// $white: rgba(237, 230, 227, 1);
// $lightgray: rgba(218, 218, 217, 1);
// $black: rgba(54, 56, 46, 1);
// $linkcolor: rgb(64, 135, 163);



// breakpoints


// --------------------------


// Start here

body {
    background-color: $purewhite;
    color: $black;
    font-family: $my-sans-serif;
}

body.lockdown {
    overflow: hidden;
}

@import "modules/buttons";
@import "modules/header";
@import "modules/footer";

