/*--------------------------------------------------------------
# Init
--------------------------------------------------------------*/

// imports
@import "colors/colors1";
@import "font-variables";
@import "variables";
@import "mixins/breakpoint";

// VARIABLES
// =================
// $primary: rgba(91, 195, 235, 1);
// $secondary: rgba(240, 100, 73, 1);
// $purewhite: #FFFFFF;
// $white: rgba(237, 230, 227, 1);
// $lightgray: rgba(218, 218, 217, 1);
// $black: rgba(54, 56, 46, 1);
// $linkcolor: rgb(64, 135, 163);

// header
$headerHeightMain: 64px;
$headerHeightMobile: 52px;
$logoHeightMain:48px;
$logoHeightMobile: 38px;

// breakpoints


// --------------------------


// Start here

body {
    background-color: $purewhite;
    color: $black;
    font-family: $my-sans-serif;
}

@import "modules/header";