/*--------------------------------------------------------------
# Init
--------------------------------------------------------------*/

// Colors
@import "colors/colors1";

// VARIABLES
// =================

// header
$headerHeightMain: 64px;
$headerHeightMobile: 52px;
$logoHeightMain:48px;
$logoHeightMobile: 38px;

// --------------------------


// Start here

body {
    background-color: $purewhite;
}

@import "modules/header";