/* Coolors Exported Palette - coolors.co/f06449-ede6e3-dadad9-36382e-5bc3eb */

/* RGB */
$primary: rgba(91, 195, 235, 1);
$secondary: rgba(240, 100, 73, 1);
$purewhite: #FFFFFF;
$white: rgba(237, 230, 227, 1);
$lightgray: rgba(218, 218, 217, 1);
$black: rgba(54, 56, 46, 1);
$linkcolor: rgb(64, 135, 163);


