
#main-footer .footer-main-row {
    
    .cell {
        padding: 0 10px;
    }
}

#main-footer {
    background-color: tint($primary, 10%);
    background: linear-gradient(to top, tint($primary, 10%), tint($primary, 30%));
    color: $white;
    padding: 50px 0 0;
    &::after {
        content: '';
        display: block;
        height: 30px;
        width: 100%;
        background-color: $primary;
        margin-top: 30px;
    }

    .footer-logo {
        max-height: 56px;
        max-width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .attribution {
        margin: 10px 0;
        font-size: 0.7em;
        // letter-spacing: 0.05em;
        // text-transform: uppercase;
    }

    .contact-container {
        @include breakpoint(small-medium down) {
            margin: 10px 0 30px;
            font-size: 0.9em;
        }

        .detail {
            margin: 5px 0;

            .fas {
                font-size: 1.6em;
                margin-right: 20px;
            }
            

        }
    }
}

#footer-menu {
    list-style-type: none;

    > li.menu-item {
        
        a {
            color: rgba($purewhite, 0.75);
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            word-break: break-all;
            &:hover {
                color: $purewhite;
            }
        }
    }
}

#main-footer {

    @include breakpoint(small-medium down) {
        text-align: center;

        .info-column {
            order: 3;
            
            .footer-logo {
                margin: 0 auto 20px;
            }
        }
        .footer-menu-container {
            order: 1;

            ul {
                margin: 0 0 20px;
            }
        }
        .contact-container {
            order: 2;
        }
    }
}

.contact-us-footer-section {
    background-color: $lightgray;
    padding: 40px 0;
}

.footer-contact-form {
    padding: 40px 0;
    background-color: tint($lightgray, 70%);
    text-align: center;

    .message {
        margin-bottom: 35px;
    }
}