
// header
$headerHeightMain: 64px;
$headerHeightMobile: 52px;
$logoHeightMain:48px;
$logoHeightMobile: 38px;

@mixin headerTransition() {
    transition: all 0.25s ease;
}

$header-padding: 7px;

#siteheader {
    // background-color: $primary;
    color: $primary;
    position: fixed;
    z-index: 1000;
    width: 100%;
    // padding: $header-padding 0;
    transition: all 0.25s ease;
    background-color: rgba($purewhite, 1);
    background: linear-gradient(none);
    box-shadow: 0 0 40px rgba(#000, 0.15);

    & #sitenav > .wrapper-big {
        padding: 0 15px 0 0;
    }

    &.front-page.hit-top {
        background-color: rgba(0, 0, 0, 0);
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
        padding: 20px 0;
        border-bottom: 0;
        box-shadow: 0 0 0 rgba(#000, 0);

        @include breakpoint(medium down){
            // padding: 0;
        }

        .logo-container,
        .inquire-button-container {
            margin: 0;
        }

        .logo-container {
            background-color: transparent;
        }
    }

    .logo-container,
    .inquire-button-container {
        // margin: $header-padding 0;
        @include headerTransition();
        @include breakpoint(medium down) {
            margin: 0;
        }
    }

    .logo-container {
        background-color: $primary;
        position: relative;
        padding: 8px 30px;

        > a {
            display: block;
        }
        
        img.logo {
            max-height: $logoHeightMain;
            @include headerTransition();
        }
        img.main-color {
            display: block;
        }
        img.secondary-color {
            position: absolute;
            top: 0;
            z-index: 2;
            opacity: 0;
        }
    }

    .menu-container {
        height: $headerHeightMain;
    }


    &.front-page.hit-top .inquire-button-container {
        .btn.cta {
            background-color: rgba($secondary, 0);
           
            &:hover {
                background-color: $secondary;
            }
        }
    }

    .inquire-button-container {

        .btn.cta {
            padding: 12px 23px;
            // border-radius: (43.2px / 2);
            border: 2px solid #FFFFFF;
            background-color: $secondary;
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 700;
            letter-spacing: 0.1em;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            margin-top: 10px;

            &:hover {
                background-color: lighten($secondary, 10%);
            }
        }
    }
}

// Menu
#menu-header-menu,
ul#menu-header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 50px;
    z-index: 1000;
    text-align: right;

    > li.menu-item {
        display: inline-block;
        position: relative;

        
        &.menu-item-has-children > a::after {
            content: '\f0d7';
            font-family: FontAwesome;
            line-height: $headerHeightMain;
            display: inline;
            margin-left: 8px;
        }

        > a {
            display: block;
            color: $primary;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 400;
            letter-spacing: 0.15em;
            line-height: $headerHeightMain;
            height: $headerHeightMain;
            padding:  0 10px;
            position: relative;
            @include headerTransition();
            
            .front-page.hit-top &::before {
                background-color: rgba($purewhite, 0.6);
            }

            // &:hover {
                // background-color: rgba(255, 255, 255, 0.5)
            // }

            .front-page.hit-top & {
                padding: 0 10px;
                color: $purewhite;
            }
        }

        & > a::before {
            position: absolute;
            content: '';
            height: 4px;
            width: 30%;
            @include headerTransition();
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary;
            margin-bottom: 20px;
            opacity: 0;
        }

        &:hover > a::before {
            margin-bottom: 0;
            opacity: 1;
            width: 100%;
        }
        

        &:hover { // When top level menu item is hovered over, show sub menu beneath
            > ul.sub-menu {
                display: block;
            }
        }

        ul.sub-menu {
            text-align-last: left;
            margin: 0;
            list-style-type: none;
            box-shadow: 0 5px 35px rgba(#000, 0.7);
        }

        $lvl1bg: darken($purewhite, 0);

        > ul.sub-menu {
            display: none;
            top: 100%;
            position: absolute;
            background-color: $lvl1bg;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 15px 15px 15px;
                border-color: transparent transparent $lvl1bg transparent;
            }

            > li.menu-item {
                white-space: nowrap;
                position: relative;

                a {
                    color: rgb(104, 104, 104);
                    padding: 13px 40px 13px 25px;
                    display: block;
                    position: relative;
                    font-size: 0.85em;
                }

                &:hover > a {
                    background-color: $lightgray;
                }
                

                &.menu-item-has-children > a::after {
                    content: '\f0da';
                    font-family: FontAwesome;
                    display: block;
                    margin-right: 15px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px 0;
                }

                &.menu-item-has-children:hover::after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $lightgray;
                }

                &.menu-item-has-children:hover > ul.sub-menu {
                    display: block;
                }

                > ul.sub-menu {
                    position: absolute;
                    z-index: -2;
                    left: 100%;
                    top: 0;
                    background-color: $lightgray;
                    display: none;

                    a:hover {
                        color: $purewhite;
                        background-color: darken($lightgray, 20%);
                    }
                }
            }
        }
    }
}

// Mobile Menu
#siteheader{

    &.front-page.hit-top {
        @include breakpoint(medium down) {
            padding: 0;
        }
    }
    

    &.front-page.hit-top {

        button.touch-menu {

            .line {
                background: $purewhite;
            }
        }
    }

    .hamburger-menu-container {
        padding: 0 20px 0 30px;

        button.touch-menu {
            height: 43px;
            width: 43px;
            margin-top: 10px;
            padding: 0 4px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                .line:first-of-type {
                    width: 75%;
                }
                .line:last-of-type {
                    width: 100%;
                }
                .line {
                    width: 50%;
                }
            } 

            .line {
                height: 5px;
                width: 100%;
                margin-bottom: 5.5px;
                background-color: $primary;
                @include headerTransition();

                &:first-of-type{
                    width: 50%;
                }
                &:last-of-type {
                    margin-bottom: 0;
                    width: 75%;
                }
            }
        }
    }
}

#siteheader .menu-container {
    @include breakpoint(medium down) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex: none;
        padding: 0;
        visibility: hidden;
        // transition: all 0.5s ease;

        #menu-header-menu,
        ul#menu-header-menu {
            width: 100%;
            background-color: $purewhite;
            padding: 0;
            position: relative;
            border-bottom: #000 1px solid;

            &::before {
                display: block;
                content: '';
                width: 100%;
                height: 30px;
                background: linear-gradient(to bottom, rgba(#000, 0.1), rgba(#000, 0));
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            > li.menu-item {
                display: block;
                text-align-last: left;
                position: relative;
                z-index: 3;

                > a {
                    color: $primary !important;

                    &::before {
                        display: none;
                    }
                }

                .sub-menu {
                    position: static;
                    display: block;
                    box-shadow: none;
                    background: $purewhite;
                    
                    &::before {
                        display: none;
                    }

                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.dimmer {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 500;
    @include headerTransition();

    &.dim {
        visibility: visible;
        opacity: 0.7;
    }
}

.spacer.not-front-page {
    height: 64px;
}