
@mixin headerTransition() {
    transition: all 0.25s ease;
}

$header-padding: 7px;

#siteheader {
    // background-color: $primary;
    color: $primary;
    position: fixed;
    z-index: 1000;
    width: 100%;
    // padding: $header-padding 0;
    transition: all 0.25s ease;
    background-color: rgba($purewhite, 0.9);
    background: linear-gradient(none);
    box-shadow: 0 0 40px rgba(#000, 0.15);

    &.front-page.hit-top {
        background-color: rgba(0, 0, 0, 0);
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
        padding: 20px 0;
        border-bottom: 0;
        box-shadow: 0 0 0 rgba(#000, 0);

        .logo-container,
        .inquire-button-container {
            margin: 0;
        }

        .logo-container {
            img.secondary-color {
                opacity: 1;
            }
            img.main-color {
                opacity: 0;
            }
        }
    }

    .logo-container,
    .inquire-button-container {
        margin: $header-padding 0;
        @include headerTransition();
    }

    .logo-container {
        position: relative;
        
        img.logo {
            max-height: $logoHeightMain;
            margin-top: (($headerHeightMain -$logoHeightMain)/2);
            @include headerTransition();
        }
        img.main-color {
            display: inline-block;
        }
        img.secondary-color {
            position: absolute;
            top: 0;
            z-index: 2;
            opacity: 0;
        }
    }


    &.front-page.hit-top .inquire-button-container {
        .btn.cta {
            background-color: rgba($secondary, 0);
           
            &:hover {
                background-color: $secondary;
            }
        }
    }

    .inquire-button-container {

        .btn.cta {
            padding: 12px 23px;
            // border-radius: (43.2px / 2);
            border: 2px solid #FFFFFF;
            background-color: $secondary;
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 700;
            letter-spacing: 0.1em;
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            margin-top: ($headerHeightMain - 43.2) /2 ;

            &:hover {
                background-color: lighten($secondary, 10%);
            }
        }
    }
}

// Menu
#menu-header-menu,
ul#menu-header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 50px;
    z-index: 1000;
    text-align: right;

    > li.menu-item {
        display: inline-block;
        position: relative;

        
        &.menu-item-has-children > a::after {
            content: '\f0d7';
            font-family: FontAwesome;
            line-height: $headerHeightMain;
            display: inline;
            margin-left: 8px;
        }

        > a {
            display: block;
            color: $primary;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 400;
            letter-spacing: 0.15em;
            line-height: $headerHeightMain;
            height: $headerHeightMain;
            padding:  $header-padding 10px;
            position: relative;
            @include headerTransition();
            
            .front-page.hit-top &::before {
                background-color: rgba($purewhite, 0.6);
            }

            // &:hover {
                // background-color: rgba(255, 255, 255, 0.5)
            // }

            .front-page.hit-top & {
                padding: 0 10px;
                color: $purewhite;
            }
        }

        & > a::before {
            position: absolute;
            content: '';
            height: 4px;
            width: 30%;
            @include headerTransition();
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary;
            margin-bottom: 20px;
            opacity: 0;
        }

        &:hover > a::before {
            margin-bottom: 0;
            opacity: 1;
            width: 100%;
        }
        

        &:hover { // When top level menu item is hovered over, show sub menu beneath
            > ul.sub-menu {
                display: block;
            }
        }

        ul.sub-menu {
            text-align-last: left;
            margin: 0;
            list-style-type: none;
            box-shadow: 0 5px 35px rgba(#000, 0.7);
        }

        $lvl1bg: darken($purewhite, 0);

        > ul.sub-menu {
            display: none;
            top: 100%;
            position: absolute;
            background-color: $lvl1bg;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 15px 15px 15px;
                border-color: transparent transparent $lvl1bg transparent;
            }

            > li.menu-item {
                white-space: nowrap;
                position: relative;

                a {
                    color: rgb(104, 104, 104);
                    padding: 13px 40px 13px 25px;
                    display: block;
                    position: relative;
                    font-size: 0.85em;
                }

                &:hover > a {
                    background-color: $lightgray;
                }
                

                &.menu-item-has-children > a::after {
                    content: '\f0da';
                    font-family: FontAwesome;
                    display: block;
                    margin-right: 15px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px 0;
                }

                &.menu-item-has-children:hover::after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $lightgray;
                }

                &.menu-item-has-children:hover > ul.sub-menu {
                    display: block;
                }

                > ul.sub-menu {
                    position: absolute;
                    z-index: -2;
                    left: 100%;
                    top: 0;
                    background-color: $lightgray;
                    display: none;

                    a:hover {
                        color: $purewhite;
                        background-color: darken($lightgray, 20%);
                    }
                }
            }
        }
    }
}

