
.sidebar-column {
    @include breakpoint(small only) {
        margin-top: 25px;
    }

    .widget {
        @include cardStyle();
        padding: 15px 20px;
        margin-bottom: 20px;
        font-size: 0.9em;

        .widget-title {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            line-height: 1.2em;
            margin: 10px 0 20px;
        }

        ul {
            list-style-type: none;
            line-height: 2em;
            padding: 0;
            margin: 0;

            ul {
                padding: 0 0 0 15px;
            }
        }
    }
}